<html>
<head>
  <title></title>
</head>
<body id='logInPage'>




<div id="header">
<!-- <h1>top</h1> -->
</div>

<div id="header1">
<!-- <h1>trigger</h1> -->
</div>

<div id="header2a">
<!-- <h1>trigger</h1> -->
</div>
<!-- <div id="headerLeadershipPic"> -->
<!-- <h1>trigger</h1> -->
<!-- </div> -->
<!-- <div id='top_helper_users'></div> -->
<div id='top_banner_users' class='navigation'>
  <!-- <nav> -->

<!-- <section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section> -->


<div id='logInBanner'>

    <% if user_signed_in? %>
        <p id='greetings'>HELLO <%= current_user.first_name %>!</p>
        <p id='line1a'>|</p>
        <%= link_to "LOG OUT", destroy_user_session_path, :id => 'logOutIcon', :method => :delete %>
        <p id='line2a'>|</p>
    <% else %>
        <%= link_to 'LOGIN', new_user_session_path, :id => 'logInIcon' %>
        <p id='line1'>|</p>
        <%= link_to 'SIGN UP', new_user_registration_path, :id => 'signUpIcon' %> 
        <p id='line2'>|</p>
    <% end %>
<a href='#'id='contactUsIcon' onclick='contactUsNow();'>CONTACT US</A>
  <p id='line4'></p>
<img id='glass' src='/assets/magnifying.png'>
<!-- <a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A> -->
  <!-- <p id='line1'>|</p> -->
<!-- <a id='signUpIcon' href='/users/sign_up'>SIGN UP</A> -->
  <!-- <p id='line2'>|</p> -->
<!-- <a href='#'id='contactUsIcon' onclick='contactUsNow();return false;'>CONTACT US</A> -->

</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
        
                <li><a class='aboutSelect' id='aboutTab'>About</a><!-- <img id="aboutArrow" src='/assets/downArrow.PNG'/> -->
                  <ul id='aboutDrop'>
                        <li>
                            <a href='/'>MOI'M</a>
                        </li>
                        <li>
                          <a href='/'>SPONSORS</a>
                        </li>
                        <li>
                          <a href='/'>PRESS</a>
                        </li>
<!--                         <li>
                          <a href='/getinvolved'>GET INVOLVED</a>
                        </li> -->
                     </ul>
              </li>

                <li><a href='/events'>Events</a></li>
                <!-- <li><a href='/blogs'>BLOG</a></li> -->
                <li><a href='/galleries'>Gallery</a></li>
                <!-- <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li> -->
                <li><a class='communitySelect'>Community</a><!-- <img id="communityArrow" src='/assets/downArrow.PNG'/> -->
          <ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                        </li>
                        <li>
                          <a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                          <a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                          <a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>Press</a></li>
            </ul>
                
</div>

<img id='frontPic' src = "/assets/street.jpg">
<!-- <img id='involvedLine'  class='animated slideInLeft' src = "/assets/line.png"> -->

<a href="#top" class="back-to-top">Back to Top</a>
<div id='logInContent' onclick='closeLogin();'>

<div id='logInBox'>

<!-- <img id='logoMoimLogIn' src='/assets/moimLogo.png'> -->
<h3 id='loginHeading'>LOGIN</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <!-- <%= f.label :email %><br /> -->
    <%= f.email_field :email, autofocus: true, :placeholder => "Email", :id => 'logInEmail' %>
  </div>

  <div class="field">
    <!-- <%= f.label :password %><br /> -->
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :id => 'passwordEmail' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions" id='signInWrapper'>
    <%= f.submit "SIGN IN", :id => 'logInButton1' %>
  </div>
<% end %>

<%= render "users/shared/links" %>


</div>
<div flash_notice id='flashMessage'></div>
<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'flashMessage' %>
<% end %>

<script type="text/javascript">
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>

<div id='bottom' class='involvedBottom'></div>
<div id='contactUsInvolved' onclick='closeLogin();'>

<div id='contactContent'>

<h3 id='contactHeading'>CONTACT US</h3>
  <p id='contactLines1'>
  For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
  </p>
  <p id='contactLines2'>
  For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
  </p>
  <p id='contactLines3'>
  For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
  </p>
  <p id='contactLines4'> 
  For social outreach opportunities, email us at <a href="mailto:soar@moimnewyork.com" id='emailLink'>soar@moimnewyork.com</a>.
  </p>
 
  <img id='logoMoimBottom' src='/assets/moimLogo.png'>
  <h3 id='moimHead'>MOI'M NYC<h3>
  <p id='tax'>a 501(c)3 organization<br>All contributions will be tax-deductible<br>to the extent allowed by law.</p>

</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='termsWelcome();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacyWelcome();return false;'>Privacy Policy</a>


  <div class='zoom_img'>
  <a href='https://www.facebook.com/moimnewyork' target='_blank'>
  <img src='/assets/faceBook.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.instagram.com/moimnewyork' target='_blank'>
  <img src='/assets/instagram.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.youtube.com/moimmedia' target='_blank'>
  <img src='/assets/youTube.png' class='img-zoom' id='youtube_small'></a>
</div>

</p>
</div>
</div>
</div>



</div>


</body>
</html>








