<html>
<head>
	<title></title>
</head>
<body id='adminlandsPage'>
	
	
  
	

<img id='logoMoimAdminConsole' src='/assets/moimLogo.png'>
<h2 id='adminConsoleHeading'>ADMIN CONSOLE</h2>
<form method="POST" id='logout_button' action=<%= "/admin_session/" + session[:user_id].to_s%>>
  		<input type="hidden" name="_method" value="DELETE" />
  		<input type="hidden" name="id" value=<%=session[:user_id].to_s%>/>
  		<input id='adminLogOut' type="submit" value="LOG OUT" class="admin_logout"/>
</form>

<div id="loginx" class="modal hide fade in" style="display: none;">
   <div class="modal-header">             
      ...
   </div>
   <div class="modal-body">              
      ...
   </div>
   <div class="modal-footer">
      ...
   </div>
</div>

<div class="iform2" id="account" style="overflow-y: auto">
	<p class='iheader'>CURRENT ADMINS</p>
	<% @admin.each do |i| %>
	<%= i.first_name + " " + i.last_name%> <br>
	<% end %>
</div>

<div class="iform" id="account" style="overflow-y: auto">
<form method="POST" action="/admins">

	<p class="iheader">CREATE ADMIN ACCOUNT</p>

	<label class="ilabel">
		<input type="text" name="first_name" placeholder="First Name"class="itext" required/>
	</label><br>

	<label class="ilabel">
		<input type="text" name="last_name" placeholder="Last Name" class="itext" required/>
	</label><br>
	<label class="ilabel">
		<input type="text" name="email" placeholder="Email" class="itext" required/>
	</label><br>
	<label class="ilabel">
		<input type="text" name="password" placeholder="Password(at least 5 characters)" class="itext" minlength='5' required/><br>
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	</label>

	<input type="submit" id="account_submit" class="ibutton"/>

</form>
</div>


<div class="iform1" id="account" style="overflow-y: auto">
<form method='POST' action=<%= "/admins/" + session[:user_id].to_s%>>
<input type='hidden' name='_method' value='PUT'>
	
	<p class="iheader">CHANGE ADMIN PASSWORD</p>

	<label class="ilabel">
		<input type="text" name="email" placeholder="Email" class="itext" required/>
	</label><br>
	<label class="ilabel">
		<input type="text" name="password" placeholder="Password(at least 5 characters)" class="itext" minlength='5' required/><br>
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	</label>

	<input type="submit" value="Update" id="admin_edit" class="edit ibutton"/>

</form>
</div>

<div class="iform3" id="account" style="overflow-y: auto">
<form method="POST" action=<%= "/admins/" + session[:user_id].to_s%>>
<input type="hidden" name="_method" value="DELETE" />

		<p class="iheader">DELETE ADMIN ACCOUNT</p>
  		
  		<label class="ilabel">
		<input type="text" name="email" placeholder="Email" class="itext" required/>
		</label>
  		
  		<input type="submit" value="DELETE" class="ibutton"/>
</form>

</div>







</body>
</html>