<html>
<head>
	<title></title>
</head>
<body>

    <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'MOI\'M Gallery', galleries_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Photos', photos_path %></li>
        <li><%= link_to 'Upload Your Photo', new_photo_path %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

<script>
$(document).ready(function() {
var lion = $('.lion');

$('#checkAllIMG').click(function(){
  
for(i = 0; i < lion.length; ++i){

if ($('#checkAllIMG').is(":checked")){
  $('.lion').prop('checked', true);
    }
else{
  $('.lion').prop('checked', false);
    }
  } 
});
});
</script>

<div class="page-header"><h1 id='photosHeader'>PHOTOS</h1></div>

<input type="checkbox" id='checkAllIMG'><span id='allForOne'>SELECT ALL</span>


<%= form_tag destroy_multiple_photos_path, method: :delete do %>
<%= submit_tag "DELETE SELECTED", :id => 'deleteAllPhoto', data: {confirm: 'Are you sure?'} %>
<%= render @photos %>
<% end %>
<div id='pagination' class='digg_pagination'><%= will_paginate @photos %></div>
