
<html>
<head>
  <title></title>
</head>
<body id='resetPage'>

<script>

$(document).ready(function() {
$('#header2a').waypoint(function() {
  $( "#top_helper" ).animate({
    backgroundColor: "#161616",
    height:"0px"
  }, 200 );

  $( "#top_banner_users" ).animate({
    // width: "70%",
    backgroundColor: "#161616",
    marginTop: "0px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});


$(document).ready(function() {
$('#header1').waypoint(function() {
  $( "#top_helper" ).animate({
    backgroundColor: "#161616",
    height:"15px"
  }, 200 );

  $( "#top_banner_users" ).animate({
    // width: "70%",
    backgroundColor: "#161616",
    marginTop: "15px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});
</script> 


<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
  console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 


<div id="header">
<!-- <h1>top</h1> -->
</div>

<div id="header1">
<!-- <h1>trigger</h1> -->
</div>

<div id="header2a">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerLeadershipPic">
<!-- <h1>trigger</h1> -->
</div>
<div id='top_helper_users'></div>
<div id='top_banner_users' class='navigation'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
        
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                  <ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                        </li>
                        <li>
                          <a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                          <a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                          <a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
              </li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
          <ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                        </li>
                        <li>
                          <a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                          <a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                          <a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>


<!-- <img id='involvedLine'  class='animated slideInLeft' src = "/assets/line.png"> -->

<a href="#top" class="back-to-top">Back to Top</a>
<div id='resetPasswordContent' onclick='closeLogin();'>

<div id='logInBox'>

<img id='logoMoimLogIn' src='/assets/moimLogo.png'>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <!-- <%= f.label :password, "New password" %><br /> -->

    <%= f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "New password (8 characters minimum)", :id => 'logInEmail' %>
<!--         <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %> -->
  </div>

  <div class="field">
    <!-- <%= f.label :password_confirmation, "Confirm new password" %><br /> -->
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm new password", :id => 'logInEmail' %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "CHANGE MY PASSWORD", :id => 'logInButton1' %>
  </div>
<% end %>

<%= render "users/shared/links" %>




</div>
<script type="text/javascript">
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>

<div id='bottom' class='involvedBottom'></div>
<div id='contactUsInvolved' onclick='closeLogin();'>

<div id='contactContent'>

<h3 id='contactHeading'>CONTACT US</h3>
  <p id='contactLines1'>
  For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
  </p>
  <p id='contactLines2'>
  For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
  </p>
  <p id='contactLines3'>
  For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
  </p>
  <p id='contactLines4'> 
  For social outreach opportunities, email us at <a href="mailto:soar@moimnewyork.com" id='emailLink'>soar@moimnewyork.com</a>.
  </p>
 
  <img id='logoMoimBottom' src='/assets/moimLogo.png'>
  <h3 id='moimHead'>MOI'M NYC<h3>
  <p id='tax'>a 501(c)3 organization<br>All contributions will be tax-deductible<br>to the extent allowed by law.</p>

</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='termsWelcome();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacyWelcome();return false;'>Privacy Policy</a>


  <div class='zoom_img'>
  <a href='https://www.facebook.com/moimnewyork' target='_blank'>
  <img src='/assets/faceBook.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.instagram.com/moimnewyork' target='_blank'>
  <img src='/assets/instagram.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.youtube.com/moimmedia' target='_blank'>
  <img src='/assets/youTube.png' class='img-zoom' id='youtube_small'></a>
</div>

</p>
</div>
</div>
</div>



</div>


</body>
</html>


