<html>
<head>
	<title></title>

</head>
<body id='galleriesPage'>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
$('#header2').waypoint(function() {
  $( "#top_helper_users" ).animate({
    // backgroundColor: "#161616",
    height:"0px"
  }, 200 );

  $( "#top_banner_users" ).animate({
    // width: "70%",
    // backgroundColor: "#161616",
    marginTop: "0px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});

$(document).ready(function() {
$('#header1').waypoint(function() {
  $( "#top_helper_users" ).animate({
    // backgroundColor: "rgba(0,0,0,0.1)",
    height:"15px"
  }, 200 );
  $( "#top_banner_users" ).animate({
    // width: "70%",
    // backgroundColor: "rgba(0,0,0,0.1)",
    marginTop: "15px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});

$(document).ready(function() {
            $('#gallery').finalTilesGallery({onComplete: function(){
                // console.log("completed");
                var total_height = parseInt($('#gallery').height()) + 340;
                // console.log(total_height);
                $('#galleriesContent').height(total_height);
            }});
        });


$(document).ready(function() {
$('#header1').waypoint(function() {
   $('#welcomeBottom1').fadeOut();
});
});

$(document).ready(function() {
$('#header').waypoint(function() {
   $('#welcomeBottom1').fadeIn( "slow" );
});
});

</script>

<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 

<script type="text/javascript" charset="utf-8">
$(window).load(function() {
    $('#gallery').finalTilesGallery({
        autoLoadURL: "get-images.php",
        autoLoadOffset: 500
    });
});
</script>

<div id="header">
<!-- <h1>top</h1> -->
</div>

<div id="header1">
<!-- <h1>trigger</h1> -->
</div>

<div id="header2">
<!-- <h1>trigger</h1> -->
</div>
<div id='top_helper_users'></div>
<div id='top_banner_users' class='navigation'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
                
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                    <ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                        </li>
                        <li>
                            <a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                            <a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                            <a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
                </li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
                    <ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                        </li>
                        <li>
                            <a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                            <a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                            <a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>

<!-- <img id='whiteGuyPic' class='animated slideInLeft' src = '/assets/whiteguy.jpg' onclick='closeLogin();return false;'>
<h2 id='galleryBlend' class='animated slideInLeft'>PHOTOS & VIDEOS</h2> -->
<a href="#top" class="back-to-top">Back to Top</a>
<div id='galleriesContent' class='animated slideInUp flex-container' onclick='closeLogin();'>

<div id="gallery" class='galleryCSS'>

    <div class="ftg-filters">
        <a href="#ftg-set-ftgall">ALL</a>
        <a href="#ftg-set-filter-1">PHOTOS</a>
        <a href="#ftg-set-filter-2">VIDEOS</a>
        <a href="#ftg-set-filter-3">MISC.</a>
    </div>
      <div class="final-tiles-gallery effect-zoom effect-fade-out caption-top caption-bg">
    <div class="ftg-items">
                    <% @photos.each do |photo| %>
        <div class="tile ftg-set-filter-1">
            <a data-lightbox="gallery" data-title="<%= photo.description %>" class="tile-inner" href="<%= photo.image.url %>">
                <img class="item" data-src="<%= photo.image.url %>" />
                <span class='title'><%= photo.title %></span>
                <span class='subtitle'><%= photo.description %></span>
            </a>
        </div>
            <% end %>
    </div>    
    <div id='pagination' class='digg_pagination'><%= will_paginate @photos %></div>
</div>


</div>

<script type="text/javascript">
    $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>
<div id='contactUsInvolved' onclick='closeLogin();'>

<div id='contactContent'>

<h3 id='contactHeading'>CONTACT US</h3>
  <p id='contactLines1'>
  For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
  </p>
  <p id='contactLines2'>
  For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
  </p>
  <p id='contactLines3'>
  For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
  </p>
  <p id='contactLines4'> 
  For social outreach opportunities, email us at <a href="mailto:soar@moimnewyork.com" id='emailLink'>soar@moimnewyork.com</a>.
  </p>
  <p id='address'>MOI'M NYC</p>
  <p id='addressa'>1271 Avenue of The Americas, 44th FL</p>
  <p id='addressb'>New York, NY 10020</p>

  <div class='zoom_img'>
  <a href='https://www.facebook.com/moimnewyork' target='_blank'>
  <img src='/assets/faceBook.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.instagram.com/moimnewyork' target='_blank'>
  <img src='/assets/instagram.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.youtube.com/moimmedia' target='_blank'>
  <img src='/assets/youTube.png' class='img-zoom' id='youtube_small'></a>
</div>

</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='termsWelcome();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacyWelcome();return false;'>Privacy Policy</a>

<p id='tax'>MOI'M New York, Inc. is a 501(c)3 organization. All contributions will be tax-deductible to the extent allowed by law.</p>

</p>
</div>


    



</div>


</body>
</html>