<!DOCTYPE html>
<html>
<head>
  <title>MOI'M NYC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
	console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 

	<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand href" href="/">MOI'M</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" role="button" aria-haspopup="false">ABOUT
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
							<li>
								<a href="/mission">THE MISSION</a>
							</li>
							<li>
								<a href="/chronicle">THE CHRONICLE</a>
							</li>
							<li>
								<a href="/team">THE TEAM</a>
							</li>
							<li>
								<a href="/getinvolved">GET INVOLVED</a>
							</li>
						</ul>
					</li>
					<li><a href="/events">EVENTS</a></li>
					<li><a href="/galleries">PHOTOS & VIDEOS</a></li>
					<li><a href="/blogs">BLOG</a></li>
					<li><a href="/expresses">EXPRESS YOURSELF</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" role="button" aria-haspopup="false">THE COMMUNITY
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li>
								<a href="/partnerevents">EXTERNAL EVENTS</a>
							</li>
							<li>
								<a href="/careerboards">CAREER BOARD</a>
							</li>
							<li>
								<a href="/localhotspots">LOCAL HOTSPOTS</a>
							</li>
							<li>
								<a href="/freeboards">FREEBOARD</a>
							</li>
						</ul>
					</li>
					<li><a href="/presses">PRESS</a></li>
					<li><a href="/#" id="searchbox" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
				</ul>
			</div>
		</div>
	</nav> -->



<div id='top_banner' class='navigation animated slideInRight'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button>SEARCH</button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A>
<a id='signUpIcon'>SIGN UP</A>
<a id='contactUsIcon'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>

<!-- <form action="/admin_session" method="POST">
  <label class="ilabel">
    <input type="text" name="email" placeholder="Email:"class="itext"/>
  </label><br>

  <label class="ilabel">
  <input type="text" name="password" placeholder="Password" class="itext" />
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"/>
  </label><br>

  <input type="submit" id="admin_sign_in" class="ibutton"/>

</form> -->

<ul>
				
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                	<ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                      	</li>
                        <li>
                        	<a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                        	<a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                        	<a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
            	</li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
					<ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                      	</li>
                        <li>
                        	<a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                        	<a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                        	<a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
<!-- </nav> -->
	<!-- <nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a id='link' href="/">Home</a></li>
  <li><a id='link' class="dir" href="#">Services</a>
    <ul id='services' class='animated flipInY'>
      
      <li><a id='link' href="">Nails</a>
      <ul>
          <li><a href="/manicure">Manicure Set</a></li>
          <li><a href="/pedicure">Pedicure</a></li>
        </ul>
      </li>
    
      <li><a id='link' href="/feet">Feet</a></li>
      <li><a id='link' href="/massage">Massage</a></li>
      
        <ul>
          <li><a href="#">Deep Menu 1</a>
            <ul>
              <li><a href="#">Sub Deep 1</a></li>
              <li><a href="#">Sub Deep 2</a></li>
              <li><a href="#">Sub Deep 3</a></li>
              <li><a href="#">Sub Deep 4</a></li>
            </ul>
          </li>
          
        </ul>
      </li>
  
    </ul>
  </li>
  <li><a id='link' href="#">About Us</a>
    <ul>
      <li><a href="#">Sub Menu 1</a></li>
      <li><a href="#">Sub Menu 2</a></li>
      <li><a href="#">Sub Menu 3</a></li>
    </ul>
  </li>
  <li><a id='link' href="#">Menu</a>
    <ul>
      <li class="dir"><a href="#">Sub Menu 1</a></li>
      <li class="dir"><a href="#">Sub Menu 2 THIS IS SO LONG IT MIGHT CAUSE AN ISSEUE BUT MAYBE NOT?</a>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
          <li><a href="#">Category 4</a></li>
          <li><a href="#">Category 5</a></li>
        </ul>
      </li>
      <li><a href="#">Sub Menu 3</a></li>
      <li><a href="#">Sub Menu 4</a></li>
      <li><a href="#">Sub Menu 5</a></li>
    </ul>
  </li>
  <li><a id='link' href="#">Gallery</a></li>
  <li><a id='link' href="#">Contact Us</a></li>
  
</ul>
</nav> -->
</div>



</body>
</html>




<%= yield %>

</body>
</html>

