

<html>
<head>
  <title></title>
</head>

<body id='usersPage'>


<script type="text/javascript">
$(document).ready(function() {

var emailRequired = "<p id='emailRequired'>Invalid Email Address</p>";
var usernameRequired = "<p id='usernameRequired'>Username Required</p>";



        $('#signUpEdit').append(emailRequired);
        $('#signUpEdit').append(usernameRequired);

        $('#emailRequired').hide();
        $('#usernameRequired').hide();

  function email(value) {
        return /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))$/i.test(value);
    }

$('#signupButton').click(function (e) {
  var month= $('#monthSignup').val();
  var day= $('#daySignup').val();
  var year= $('#yearSignup').val();
  
  if(month == '' || day == '' || year == ''){
    ('#birth').val();
    }
  else{
  $('#birth').val(month+day+year);
    }

  var college=$('#collegeSignup').val();
  $('#collegeSignup1').val(college);

  var professional=$('#professionalSignup').val();
  $('#professionalSignup1').val(professional);
});

$('#emailButton1').click(function(e){
  // var email=$('#emailSignup').val();
   e.preventDefault();
        $('#emailSayYes').remove();
        $('#emailSayNo').remove();
        $('#emailRequired').hide();
    var value = $('#emailSignup').val();

        var result = email(value);

        if (result == false) {
            $('button[id="emailButton1"]').prop("disabled", true);
            setTimeout(function() {
          $('button[id="emailButton1"]').prop("disabled", false);
      }, 300);
      $('#emailRequired').show();
        } 
        else if (value.length == 0){
            $('button[id="emailButton1"]').prop("disabled", true);
            setTimeout(function() {
          $('button[id="emailButton1"]').prop("disabled", false);
      }, 300);
      $('#emailRequired').show();
        }
        else {
            $('button[id="emailButton1"]').prop("disabled", false);
  $.ajax({
       url: "/alerta",
       type: "POST",
       data: {email:$('#emailSignup').val()},
       dataType : "json",
       success: function (data) {
        console.log('success');
        var emailSayYes="<p id='emailSayYes1'><span id='yesEmail'>This email is not yet registered.</span></p>"
        // if(data.available == true){
        $('#emailSayYes1').remove();
        $('#emailSayNo1').remove();
        $('#usersEditContent').append(emailSayYes);    
        // }
       },
       error: function(xhr, ajaxOptions, thrownError){
        console.log('fail')
          var emailSayNo="<p id='emailSayNo1'><span id='noEmail'>This email is already registered.</span></p>"
        $('#emailSayYes1').remove();
        $('#emailSayNo1').remove();
        $('#usersEditContent').append(emailSayNo);  
       }
  });
        }

});
});

$(document).ready(function() {
$('#usernameButton').click(function(e){
  // var username=$('#usernameSignup').val();
   e.preventDefault();
           $('#usernameSayYes').remove();
        $('#usernameSayNo').remove();
        $('#usernameRequired').hide();

    var valueUsername = $('#usernameSignup').val();

    if (valueUsername.length == 0){
            $('button[id="usernameButton"]').prop("disabled", true);
            setTimeout(function() {
          $('button[id="usernameButton"]').prop("disabled", false);
      }, 300);
            $('#usernameRequired').show();
        }
        else {
            $('button[id="usernameButton"]').prop("disabled", false);
  $.ajax({
       url: "/alertb",
       type: "POST",
       data: {username:$('#usernameSignup').val()},
       dataType : "json",
       success: function (data) {
        console.log('success');
        var usernameSayYes="<p id='usernameSayYes'><span id='yesUsername'>This username is not yet registered.</span></p>"
        // if(data.available == true){
        $('#usernameSayYes').remove();
        $('#usernameSayNo').remove();
        $('#usersEditContent').append(usernameSayYes);    
        // }
       },
       error: function(xhr, ajaxOptions, thrownError){
        console.log('fail')
          var usernameSayNo="<p id='usernameSayNo'><span id='noUsername'>This username is already registered.</span></p>"
        $('#usernameSayYes').remove();
        $('#usernameSayNo').remove();
        $('#usersEditContent').append(usernameSayNo);  
       }
  });
        }
});
});

$(document).ready(function() {
$('#header2a').waypoint(function() {
  $( "#top_helper" ).animate({
    backgroundColor: "#161616",
    height:"0px"
  }, 200 );

  $( "#top_banner_users" ).animate({
    // width: "70%",
    backgroundColor: "#161616",
    marginTop: "0px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});


$(document).ready(function() {
$('#header1').waypoint(function() {
  $( "#top_helper" ).animate({
    backgroundColor: "#161616",
    height:"15px"
  }, 200 );

  $( "#top_banner_users" ).animate({
    // width: "70%",
    backgroundColor: "#161616",
    marginTop: "15px"
    // fontSize: "3em",
    // borderWidth: "10px"
  }, 200 );
});
});



$(document).ready(function() {

$(':checkbox').change(function(){
    if (this.checked) {
    $(this).siblings(':checkbox').attr('checked',false);
   }

});
});

$(document).ready(function() {

$("#female").click(function (evt) { 

if($('#female').prop('checked') == true){
  $('#gender').val('female');
  $('#femaleCheck').removeClass('signupOption').addClass('highlight');
  $('#male').attr('checked', false);
  $('#maleCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
}
else{
  $('#femaleCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
  $('#gender').val('');
}
});
});

$(document).ready(function() {

$("#male").click(function (evt) { 
if($('#male').prop('checked') == true){
  $('#gender').val('male');
  $('#maleCheck').removeClass('signupOption').addClass('highlight');
  $('#female').attr('checked', false);
  $('#femaleCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
}
else{
  $('#maleCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
  $('#gender').val('');
}
});
});

$(document).ready(function() {

$("#ny").click(function (evt) { 
if($('#ny').prop('checked') == true){
  $('#location').val('NYC/NJ');
  $('#nyCheck').removeClass('signupOption').addClass('highlight');
  $('#eastCoast').attr('checked', false);
  $('#eastCoastCheck').removeClass('highlight').addClass('signupOption');
  $('#usa').attr('checked', false);
  $('#usaCheck').removeClass('highlight').addClass('signupOption');
  $('#international').attr('checked', false);
  $('#internationalCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
}
else{
  $('#nyCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
  $('#location').val('');
}
});
});

$(document).ready(function() {

$("#eastCoast").click(function (evt) { 
if($('#eastCoast').prop('checked') == true){
  $('#location').val('East Coast');
  $('#eastCoastCheck').removeClass('signupOption').addClass('highlight');
  $('#ny').attr('checked', false);
  $('#nyCheck').removeClass('highlight').addClass('signupOption');
  $('#usa').attr('checked', false);
  $('#usaCheck').removeClass('highlight').addClass('signupOption');
  $('#international').attr('checked', false);
  $('#internationalCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
}
else{
  $('#eastCoastCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
  $('#location').val('');
}
});
});

$(document).ready(function() {
  
$("#usa").click(function (evt) { 
if($('#usa').prop('checked') == true){
  $('#location').val('USA');
  $('#usaCheck').removeClass('signupOption').addClass('highlight');
  $('#ny').attr('checked', false);
  $('#nyCheck').removeClass('highlight').addClass('signupOption');
  $('#eastCoast').attr('checked', false);
  $('#eastCoastCheck').removeClass('highlight').addClass('signupOption');
  $('#international').attr('checked', false);
  $('#internationalCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
}
else{
  $('#usaCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
  $('#location').val('');
}
});
});

$(document).ready(function() {
  
$("#international").click(function (evt) { 
if($('#international').prop('checked') == true){
  $('#location').val('International');
  $('#internationalCheck').removeClass('signupOption').addClass('highlight');
  $('#ny').attr('checked', false);
  $('#nyCheck').removeClass('highlight').addClass('signupOption');
  $('#usa').attr('checked', false);
  $('#usaCheck').removeClass('highlight').addClass('signupOption');
  $('#eastCoast').attr('checked', false);
  $('#eastCoastCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
}
else{
  $('#internationalCheck').removeClass('highlight').addClass('signupOption');
  evt.stopPropagation();
  $('#location').val('');
}
});
});

$(document).ready(function() {

$('#emailSignup').change(function() {
    $('#emailCheck').val($(this).val());
});

});

$(document).ready(function() {

$('#usernameSignup').change(function() {
    $('#usernameCheck').val($(this).val());
});
});

$(document).ready(function() {
$("#userCreation")[0].reset();
});

$(document).ready(function() {
  
var email = $("input#emailSignup").val();  
if (!validEmail(email)) {
    $("label#email_error").show();  
    $("input#email").focus();  
    return false;
}
});

</script> 


<script type="text/javascript">
$(".aboutSelect").mouseover(function(){
  console.log('drop');
  $("#aboutDrop").addClass('animated slideInDown');
})
</script> 



<div id="header">
<!-- <h1>top</h1> -->
</div>

<div id="header1">
<!-- <h1>trigger</h1> -->
</div>

<div id="header2a">
<!-- <h1>trigger</h1> -->
</div>
<div id="headerLeadershipPic">
<!-- <h1>trigger</h1> -->
</div>
<div id='top_helper_users'></div>
<div id='top_banner_users' class='navigation'>
  <!-- <nav> -->

<section class="webdesigntuts-workshop">
  <form action="" method="">        
    <input type="search" placeholder="">         
    <button id='glassButton'><img id='glass' src='/assets/glass.png'></button>
  </form>
</section>



<div id='logInBanner'>

<a id='logInIcon' onclick='logInScreen();return false;'>LOG IN</A><p id='line1'>|</p>
<a id='signUpIcon'>SIGN UP</A><p id='line2'>|</p>
<a href='#bottom'id='contactUsIcon' onclick='countUp();return false;'>CONTACT US</A>


</div>

<a href='/'><img id='logoMoim' src='/assets/moimLogo.png'></a>


<ul>
        
                <li><a class='aboutSelect'>ABOUT</a><img id="aboutArrow" src='/assets/downArrow.PNG'/>
                  <ul id='aboutDrop'>
                        <li>
                            <a href='/mission'>THE MISSION</a>
                        </li>
                        <li>
                          <a href='/chronicle'>THE CHRONICLE</a>
                        </li>
                        <li>
                          <a href='/team'>THE TEAM</a>
                        </li>
                        <li>
                          <a href='/getinvolved'>GET INVOLVED</a>
                        </li>
                     </ul>
              </li>

                <li><a href='/events'>EVENTS</a></li>
                <li><a href='/blogs'>BLOG</a></li>
                <li><a href='/galleries'>PHOTOS & VIDEOS</a></li>
                <li><a href='/express_yourselves'>EXPRESS YOURSELF</a></li>
                <li><a class='communitySelect'>THE COMMUNITY</a><img id="communityArrow" src='/assets/downArrow.PNG'/>
          <ul id='communityDrop'>
                        <li>
                            <a href='/external_events'>EXTERNAL EVENTS</a>
                        </li>
                        <li>
                          <a href='/careerboards'>CAREER BOARD</a>
                        </li>
                        <li>
                          <a href='/localhotspots'>LOCAL HOTSPOTS</a>
                        </li>
                        <li>
                          <a href='/freeboards'>FREEBOARD</a>
                        </li>
                     </ul>
                </li>
                <li><a href='/presses'>PRESS</a></li>
            </ul>
                
</div>


<a href="#top" class="back-to-top">Back to Top</a>
<div id='usersEditContent' onclick='closeLogin();'>

<p id='editHeading'>Edit <%= resource_name.to_s.humanize %></p>
<p id='requiredStar1'><span id='required'>*&nbsp;</span>= Required Field</p>
<div id='signUpEdit'>
<p id='emailSay'>Verification email will be sent to this address.</p>
<p id='emailSay1'>Email availability.</p>

<input type='hidden' name='email' id='emailCheck'>
<button id='emailButton1' type='submit'>Check</button>

<!-- <p id='usernameSay1'>Username availability.</p>
<form method="POST" action="/alertb">
<input type='hidden' name='username' id='usernameCheck'>
<button id='usernameButton' type='submit' >Check</button>
</form> -->

<p id='confirmSay1'>(Confirmation)</p>
<p id='monthSay1'>MONTH</p>
<p id='daySay1'>DAY</p>
<p id='yearSay1'>YEAR</p>
<p id='birthdaySay1'>example: 06-23-1991</p>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, :id => 'emailSignUpText' %>
    <%= f.email_field :email, autofocus: true, :id => 'emailSignup' %>
  </div><br>

<!--     <div class="field">
    <%= f.label :username, :id => 'usernameSignUpText' %>
    <%= f.text_field :username, autofocus: true, :id => 'usernameSignup' %>
  </div><br> -->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, :id => 'passwordSignUpText' %> 
    <%= f.password_field :password, autocomplete: "off", :id => 'passwordSignupEdit' %>
    <i id='minimum'>(leave blank if you don't want to change it)</i>
  </div><br>

  <div class="field">
    <%= f.label :password_confirmation, 'Password', :id => 'passwordSignupText2' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :id => 'passwordSignup2' %>
  </div><br>


  <div class="field">
  <%= f.label :first_name, :id => 'firstnameSignUpText' %>
  <%= f.text_field :first_name, :id => 'firstnameSignup' %>
  </div><br>
  
  <div class="field">
  <%= f.label :last_name, :id => 'lastnameSignUpText' %>
  <%= f.text_field :last_name, :id => 'lastnameSignup' %>
  </div><br>

  <div class="field">
    <%= f.label :dob, 'Birthday', :id => 'birthdaySignUpText' %>
    <input type='text' name='month' id='monthSignup' minlength='2' maxlength='2' onkeypress='return isNumberKey(event)' autocomplete='off'>&nbsp;&nbsp;&nbsp;
    <input type='text' name='day' id='daySignup' minlength='2' maxlength='2' onkeypress='return isNumberKey(event)' autocomplete='off' >&nbsp;&nbsp;&nbsp;
    <input type='text' name='year' id='yearSignup' minlength='4' maxlength='4' onkeypress='return isNumberKey(event)' autocomplete='off' >


  <%= f.hidden_field :dob, :id => 'birth' %>
  </div><br>

<div class="field">
<%= f.label :gender, :id => 'genderSignUpText' %>

    <label id='femaleCheck' class='signupOption'>

      <%= f.check_box :gender, :id => 'female', :name => 'sex', :class => 'signupCheckBox', :value => 'female', :style => 'opacity:0;' %>
      <span id='checkboxText'>FEMALE</span></label>
    <label id='maleCheck' class='signupOption'>

      <%= f.check_box :gender, :id => 'male', :name => 'sex', :class => 'signupCheckBox', :value => 'male', :style => 'opacity:0;' %>
      <span id='checkboxText'>MALE</span></label>
  <%= f.hidden_field :gender, :id => 'gender' %>
</div><br>


  <label id='affiliationSignUpText'>Affiliation</label><br>

<div class="field">
  <label id='collegeSignUpText'>College/Graduated</label> 
  <input type='text' id='collegeSignup' name='school' autocomplete='on'>
  <%= f.hidden_field :school, :id => 'collegeSignup1' %>
</div>

<div class="field">
  <label id='professionalSignUpText'>Professional</label>
  <input type='text' id='professionalSignup' name='company' autocomplete='on'>
  <%= f.hidden_field :company, :id => 'professionalSignup1' %>
</div><br>

<div class="field">
<label id='locationSignUpText'>Location</label>

  <label id='nyCheck' class='signupOption'>

    <%= f.check_box :location, :id => 'ny', :name => 'location', :class => 'signupCheckBox', :value => 'NYC/NJ', :style => 'opacity:0;' %>
    <span id='checkboxText'>NYC/NJ</span></label><br>
    <label id='eastCoastCheck' class='signupOption'>

  <%= f.check_box :location, :id => 'eastCoast', :name => 'location', :class => 'signupCheckBox', :value => 'East Coast', :style => 'opacity:0;' %>
    <span id='checkboxText'>Other (East Coast)</span></label><br>
    <label id='usaCheck' class='signupOption'>

    <%= f.check_box :location, :id => 'usa', :name => 'location', :class => 'signupCheckBox', :value => 'USA', :style => 'opacity:0;' %>
    <span id='checkboxText'>Other (USA)</span></label><br>
    <label id='internationalCheck' class='signupOption'>

    <%= f.check_box :location, :id => 'international', :name => 'location', :class => 'signupCheckBox', :value => 'International', :style => 'opacity:0;' %>
    <span id='checkboxText'>Other (International)</span></label>
    <%= f.hidden_field :location, :id => 'location' %> 
  </div><br>

  <div class="field">
    <span id='required'>*&nbsp;</span><%= f.label :current_password,  :id => 'passwordSignupText3' %> 
    <%= f.password_field :current_password, autocomplete: "off", :id => 'passwordSignup3' %><br>
  </div>
    <i id='minimum1'>(we need your current password to confirm your changes)</i>
  <br><br>
  <div class="actions">
    <%= f.submit "Update", :id => 'signupButton' %>
  </div>
<% end %>

<br>
<p>CANCEL ACCOUNT <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :id => 'signupButton1' %></p>

<!-- <%= link_to "Back", :back %> -->

</div> 


<script type="text/javascript">
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>

<div id='bottom' class='involvedBottom'></div>
<div id='contactUsUsers' onclick='closeLogin();return false;'>

<div id='contactContent'>

<h2 id='contactHeading'>Contact Us</h2>
  <p id='contactLines1'>
  For questions or concerns, email us at <a href="mailto:info@moimnewyork.com" id='emailLink'>info@moimnewyork.com</a>.
  </p>
  <p id='contactLines2'>
  For sponsorship opportunities, email us at <a href="mailto:sponsorship@moimnewyork.com" id='emailLink'>sponsorship@moimnewyork.com</a>.
  </p>
  <p id='contactLines3'>
  For event ideas, email us at <a href="mailto:event@moimnewyork.com" id='emailLink'>event@moimnewyork.com</a>.
  </p>


</div>



<div id='contactBottom'>
<p id='bottomContent'>Copyright 

<script type="text/javascript">
var theDate=new Date()
document.write(theDate.getFullYear())
</script> 

MOI'M | All Rights Reserved | <a href='#' id='link' onclick='terms();return false;'>Terms of Use</a> | <a href='#' id='link' onclick='privacy();return false;'>Privacy Policy</a>
<div class='zoom_img'>
  <a href='https://www.facebook.com/moimnewyork' target='_blank'>
  <img src='/assets/facebook_icon.png' class='img-zoom' id='fb_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.instagram.com/moimnewyork' target='_blank'>
  <img src='/assets/instagram_icon.png' class='img-zoom' id='insta_small'></a>
</div>
<div class='zoom_img'>
  <a href='https://www.youtube.com/moimmedia' target='_blank'>
  <img src='/assets/youtube_icon.png' class='img-zoom' id='youtube_small'></a>
</div>
</p>
</div>
</div>



</div>



<!-- </p> -->
</body>
</html>
